#container
	max-width 1080px
	margin 0 auto
	width 100%
	min-height 1px
	box-sizing border-box
	display block
	position relative
	.row
		width 100%
		min-height 1px
		display block
	.c1, .c2, .c3, .c4, .c5, .c6,
	.c7, .c8, .c9, .c10, .c11, .c12
		box-sizing border-box
		float left
		min-height 1px
		margin 0 0.5% 10px
	.c1
		width 7.33333%
	.c2
		width 15.66666%
	.c3
		width 24%
	.c4
		width 32.33333%
	.c5
		width 40.66666%
	.c6
		width 49%
	.c7
		width 57.33333%
	.c8
		width 65.66666%
	.c9
		width 74%
	.c10
		width 82.33333%
	.c11
		width 90.66666%
	.c12
		width 99%
	.g1
		margin-left 8.33333%
	.g2
		margin-left 16.66666%
	.g3
		margin-left 25%
	.g4
		margin-left 33.33333%
	.g5
		margin-left 41.66666%
	.g6
		margin-left 50%
	.g7
		margin-left 58.33333%
	.g8
		margin-left 66.66666%
	.g9
		margin-left 75%
	.g10
		margin-left 83.33333%
	.g11
		margin-left 91.66666%
	.g12
		margin-left 100%
		
	@media screen and (max-width 1079px)
		.m1
			width 7.33333%
		.m2
			width 15.66666%
		.m3
			width 24%
		.m4
			width 32.33333%
		.m5
			width 40.66666%
		.m6
			width 49%
		.m7
			width 57.33333%
		.m8
			width 65.66666%
		.m9
			width 74%
		.m10
			width 82.33333%
		.m11
			width 90.66666%
		.m12
			width 99%
		.mg0
			margin-left 0.5%
		.mg1
			margin-left 8.33333%
		.mg2
			margin-left 16.66666%
		.mg3
			margin-left 25%
		.mg4
			margin-left 33.33333%
		.mg5
			margin-left 41.66666%
		.mg6
			margin-left 50%
		.mg7
			margin-left 58.33333%
		.mg8
			margin-left 66.66666%
		.mg9
			margin-left 75%
		.mg10
			margin-left 83.33333%
		.mg11
			margin-left 91.66666%
		.mg12
			margin-left 100%






